body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    overflow-x: hidden;
    
    
}

.top-bar {
    background-color: #FFFDFF;
    color: rgb(0, 0, 0);
    padding: 20px 0;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%; /* Utilisez un pourcentage de la largeur de la fenêtre pour le padding */
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #7A9F95;
}

.menu a {
    color: #18191A;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2em;
}

.hero {
    display: flex;
    flex-direction: column; /* Empilez les éléments verticalement */
    justify-content: center;
    align-items: center; /* Centre les éléments horizontalement */
    background: url('./image/background.jpg') no-repeat center center/cover;
    height: 90vh;
    padding: 2px 5%;

    
}
.hero-content {
display: flex;
justify-content: space-around;
}

.search-area {
    background: rgba(255, 255, 255, 0.9);
    padding: 23px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-bottom: 2em; /* Ajoutez de l'espace entre la zone de recherche et le texte */
    width: 40%; /* Définissez une largeur pour la zone de recherche */
}


.search-input, .date-picker {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    font-size: 1.1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-btn {
    width: 100%;
    padding: 15px;
    background-color: #469E86;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #218838;
}

.hero-text {
    text-align: center;
    width: 100%; /* Définissez une largeur pour le texte */
    color: #ffffff;
    margin-bottom: 60px;
    margin-block-start: -220px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.info-area {
    background: #ffffffe6; /* ou autre couleur selon votre design */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 40%; /* ou la taille souhaitée */
    margin-bottom: 2em;
    background-image: url('./image/train.png')
}

